List = Array = Collection of variables or heterogenous values
8 byte = 64 bit per elemet

In [8]:
l = [1,2,34,56,7]
print(l, l[2],"length of list is :",len(l),"Negative indexing:",l[-3])

[1, 2, 34, 56, 7] 34 length of list is : 5 Negative indexing: 34

"is" checks if address is same

In [9]:
l = [1,2,34,56,7]
l2 = [1,2,34,56,7]
l3 = [1,2,34,56,7]
l4 = l2 # deep copy address is stored
l5 = l2.copy() # shallow copy => the values get copied and stored

.append , .pop functions used in list

In [18]:
n = 5
l = []
while n>0:
    l.append(int(input()))
    n-=1
print(l) # can be done only using append as list is empty so u can't tak input like l[i] = int(inptu())

 1
 2
 3
 45
 67

[1, 2, 3, 45, 67]

In [29]:
# For each loop
# here i is iterator and l is iterable i.e iterable jispe we can perform function of iteration which is done using iteratori.e is i 
# for i in l:
#     print(ele)
#     l.pop()
print(l)
l =[1,2,3,4,5,6]
for i in l:
    print(i)
    l.pop() # pop take place from end i.e value piche is udha ta hai
    print(l)

[1, 2, 3, 4, 5, 6]
1
[1, 2, 3, 4, 5]
2
[1, 2, 3, 4]
3
[1, 2, 3]

In [34]:
for i in range(3):
    print(l[i])
for i in range(len(l) -1, -1,-1):
    print(i,l[i])

1
2
3
2 3
1 2
0 1

In [36]:
# list of all square from 1 to 10
l = []
for i in range(1,11):
    l.append(i**2)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
# "in" operator to check if the value is in the list
12 in l

False

List comprehension
l = [valueToAppend | loop | condition]
l = [val]*numOf_TimesTo_AddThe_Element_InTo_An_Array

In [40]:
# list ke har value pe  formula laga ke new list mai output values store kardi
a =[2*x +3 for x in l]
print(l)
print(a)

[13, 25, 45, 73, 109, 153, 205, 265, 333, 409]
[29, 53, 93, 149, 221, 309, 413, 533, 669, 821]

In [43]:
list1 =[1,2,3]
list2 =[4,5,6]
print(list1)
#check methos from github repo
list1 += list2
print(list1)
#Slicing 
# l[start:stop:step]
list1[2:4:]
list1[2:5:]

[1, 2, 3]
[1, 2, 3, 4, 5, 6]

[3, 4, 5]

#2D list

In [48]:

l =[]

for i in range(3):
    li =[]
    for j in range(3):
        li.append(int(input()))
    l.append(li)
print(l)
a = [[int(input()) for j in range(3)] for i in range(3)]
print(a)

 1
 1
 1
 2
 2
 2
 3
 3
 3

[[1, 1, 1], [2, 2, 2], [3, 3, 3]]

 1
 1
 1
 2
 2
 2
 3
 3
 3

#() is tuple
#Tuple is immutable i.e can't be modified

In [49]:
t = (1,2,3,4,5)
print(type(t))

<class 'tuple'>

In [50]:
# Creating tuple without ()
a = 1,2,3,4,6
print(a) #this is called packing 
a,a,2 #this is called packing

(1, 2, 3, 4, 6)

((1, 2, 3, 4, 6), (1, 2, 3, 4, 6), 2)

In [51]:
# rest operator in python ... = *
# * gives a list
t = 1,2,3,4,5
a,*b,c = t
print(a,b,c)

1 [2, 3, 4] 5