forget number print using star first

In [4]:
n = 5
row = 1
nsp = n-1
nst = 1
while row <= n:
    # space
    i = 1
    while i <=nsp:
        print(" ", end ="  ")
        i +=1
    i = 1 
    while i <=nst:
        print("1", end ="  ")
        i +=1
    row +=1
    nst +=2
    nsp -=1
    print()

            1
         1  1  1
      1  1  1  1  1
   1  1  1  1  1  1  1
1  1  1  1  1  1  1  1  1

In [8]:
n = 5
row = 1
nsp = n-1
nst = 1
val = 1
while row <= n:
    # space
    i = 1
    while i <=nsp:
        print(" ", end ="  ")
        i +=1
    i = 1 
    cval = val 
    while i <=nst:
        print(cval, end ="  ")
        if i <= nst//2:
            cval +=1
        else:
            cval -=1
            
        i +=1
    row +=1
    # val  = n//2
    nst +=2
    nsp -=1
    print()

            1
         1  2  1
      1  2  3  2  1
   1  2  3  4  3  2  1
1  2  3  4  5  4  3  2  1

In [10]:
n = 5
row = 1
nsp = n-1
nst = 1
val = 1
while row <= n:
    # space
    i = 1
    while i <=nsp:
        print(" ", end ="  ")
        i +=1
    i = 1 
    cval = val 
    while i <=nst:
        print(cval, end ="  ")
        if i <= nst//2:
            cval +=1
        else:
            cval -=1
            
        i +=1
    row +=1
    val  +=1
    nst +=2
    nsp -=1
    print()

            1
         2  3  2
      3  4  5  4  3
   4  5  6  7  6  5  4
5  6  7  8  9  8  7  6  5

In [18]:
row =5
j =1
val = 5
idx = val
while j<=row:
   i = 1
   cval = val
   while i <=row:
       
       if i ==idx:
           print("*",end = " ")
           idx-=1
           cval -= 1
       else:    
           print(cval,end = " ")
           cval -= 1
       i+=1
   j+=1
   
   print()

5 4 3 2 *
5 4 3 * 1
5 4 * 2 1
5 * 3 2 1
* 4 3 2 1

In [28]:
n = 7
row = 1
nsp = n-1
nst = 1
nspm = -1
val = 1
while row <= n:
    # space
    i = 1
    while i <=nsp:
        print(" ", end ="  ")
        i +=1
   # star
    i = 1 
    cval = val
    while i <=nst:
        print(cval, end ="  ")
        i +=1
        cval -=1
    # space
    i = 1
    while i <= nspm:
        print(" ", end ="  ")
        i +=1
    # star
    if(row ==1 or row ==n):
        i =2
    else:
        i = 1 
    cval = 1
    while i <=nst:
        print(cval, end ="  ")
        i +=1
        cval +=1
    
    if row <= (n//2):
        nst +=1
        nspm +=2
        nsp -=2
        val +=1
    else:
        nst -=1
        nspm -=2
        nsp +=2
        val -=1
    row +=1
    
        
        
    print()

                  1
            2  1     1  2
      3  2  1           1  2  3
4  3  2  1                 1  2  3  4
      3  2  1           1  2  3
            2  1     1  2
                  1

In [5]:
n =5
row = 1
nst = 1
val = n
nsp = 2*n-1
while row<= 2*n+1:
    # star
    i = 1
    cval = val
    while i <=nst:
        print(cval, end = " ")
        cval -=1
        i+=1
    # space
    i = 1
    # cval = val
    while i <=nsp:
        print(" ", end = " ")
        # cval -=1
        i+=1
    # star
    i = 1
    cval += 1
    # cval = 0
    while i <=nst:
        if(row ==n+1 and i==1):
            cval+=1
        if(row ==n+1 and i==nst):
            cval+=1
        # q = n-cval
        print(cval, end = " ")
        cval +=1
        i+=1
    if row <=n:
        nsp -=2
        nst +=1
    else:
        nsp +=2
        nst -=1
    row+=1
    print()

5                   5
5 4               4 5
5 4 3           3 4 5
5 4 3 2       2 3 4 5
5 4 3 2 1   1 2 3 4 5
5 4 3 2 1 0 1 2 3 4 5 6
5 4 3 2 1   1 2 3 4 5
5 4 3 2       2 3 4 5
5 4 3           3 4 5
5 4               4 5
5                   5